@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

/* nosotros grid */
.grid__nosotros{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "textoGrande textoChico"
    "banner banner";
    align-items:  center;
    justify-self: center;
    .grid__nosotros{
        .texto__largo{
            grid-area: textoGrande;
        }
        .texto__corto{
            grid-area: textoChico;
        }
        .banner__grande{
            grid-area: banner;
        }
    }
}

.texto__corto{
    padding-left: 5rem;
    font-size: 1.3rem;
}

.texto__largo{
    color: white;
    font-size: 1.3rem;
}